body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.caixa {
    width: 500px;
    height: 500px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: gray;
}

h2 {
    color: white;
    font-size: 0;
}

h2::before {
    content: "Cinza";
    font-size: 32px;
}

@media (max-width: 420px) {
    .caixa {
        background-color: gray;
    }

    h2::before {
        content: "Cinza";
    }
}

@media (min-width: 421px) and (max-width: 768px) {
    .caixa {
        background-color: orange;
    }

    h2::before {
        content: "Laranja";
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .caixa {
        background-color: rgb(218, 75, 194);
    }

    h2::before {
        content: "Rosa";
    }
}

@media (min-width: 1025px) and (max-width: 1080px) {
    .caixa {
        background-color: rgb(165, 31, 31);
    }

    h2::before {
        content: "Vermelho";
    }
}

@media (min-width: 1081px) and (max-width: 1366px) {
    .caixa {
        background-color: rgb(18, 18, 155);
    }

    h2::before {
        content: "Azul";
    }
}

@media (min-width: 1367px) and (max-width: 1920px) {
    .caixa {
        background-color: rgb(221, 191, 136);
    }

    h2::before {
        content: "Bege";
    }
}

@media (min-width: 1921px) {
    .caixa {
        background-color: green;
    }

    h2::before {
        content: "Verde";
    }
}
